<div class="card mb-4" style="width: 18rem;">
    <img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}">
    <div class="card-body">
        <h3 class="card-title">{{ product.name }}</h3>
        <p class="card-text">Publication Date: {{ product.publicationDate }}</p>
        <p class="card-text">Description: {{ product.feature }}</p>
        <p class="card-text">Condition Product: {{ product.conditionProd }}</p>
        <h3 class="card-text">Price: ${{ product.price }}</h3>
    </div>
</div>