<nav class="navbar navbar-expand-lg bg-light">
    <a class="nav-link" routerLink="../"> ⭠ Back</a>
    <div class="collapse navbar-collapse justify-content-evenly">
        <a class="nav-link" routerLink="home">Home</a>
    
        <ng-container *ngIf="user; else loginLink">
            <button class="nav-link" routerLink="createProduct">New Product</button>
            <div class="d-flex align-items-center">
              <span class="nav-link">Welcome, {{ user.email }}</span>
              <button class="nav-link ms-3" (click)="logOut()">Log Out</button>
            </div>
        </ng-container>

        <ng-template #loginLink>
            <a class="nav-link" routerLink="login">Sign in</a>
            <a class="nav-link" routerLink="createUser">Sign up</a>
        </ng-template>
    </div>
  </nav>
  