<nav class="navbar navbar-expand-lg bg-light">
    <div class="collapse navbar-collapse justify-content-evenly">
        <ng-container *ngIf="user">
            <button class="nav-link" (click)="goBack()"> ⭠ Back</button>
            <a class="nav-link" routerLink="home">Home</a>

            <app-search-bar></app-search-bar>

            <button class="nav-link" routerLink="home/createProduct">New Product</button>
            <div *ngIf="isAdmin()">
              <button appShowForUser="admin" class="nav-link" routerLink="home/createUser">Create User</button>
            </div>
            <div class="d-flex align-items-center">
              <span class="nav-link">Welcome, {{ user.email }}</span>
              <button class="nav-link ms-3" (click)="logOut()">Log Out</button>
            </div>
        </ng-container>
    </div>
</nav>
  