<div class="landing-container">
    <h1 class=" pt-3 landing-title">Welcome to Your Favorite Store!</h1>
    <p class="card landing-introduction">
      Discover a unique shopping experience with our wide selection of high-quality products. 
      From exclusive items to the latest trends, we have everything you need in one place. 
      Explore now and find your favorites!
    </p>
    <div class="d-flex justify-content-evenly">
        <a routerLink="/home" class="btn btn-primary">Let's go</a>
    </div>
  </div>